<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Vue Test</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <script src="https://cdn.bootcss.com/vue/2.1.6/vue.js"></script>
    <style>
      .divider {
        border: none;
        border-bottom: 1px solid #eee;
      }
    </style>
  </head>
  <body>
    <div id="example">
      <p>Original message: "{{message}}"</p>
      <p>filter reversed message: "{{message | reverse}}"</p>
      <p>Computed reversed message: "{{reversedMessage}}"</p>
    </div>

    <ul id="example-1">
      <template v-for="item in items">
        <li>{{item.message}}</li>
        <div class="divider"></div>
      </template>
    </ul>

    <ul id="example-2">
      <li v-for="(item, index) of items">
        {{parentMessage}} - {{index}} - {{item.message}}
      </li>
    </ul>

    <div id="todo-list-example">
      <input v-model="newTodoText" @keyup.enter="addNewTodo" placeholder="Add a todo"/>
      <ul>
        <div is="todo-item" v-for="(todo, index) of todos" :title="todo" @remove="todos.splice(index, 1)"></div>
      </ul>
    </div>

    <script>
      Vue.filter('reverse', function (value) {
        return value.toString().split('').reverse().join('');
      });
      var vm = new Vue({
        el: '#example',
        data: {
          message: 'Hello'
        },
        computed: {
          reversedMessage: function () {
            return this.message.split('').reverse().join('');
          }
        }
      });
      var example1 = new Vue({
        el: '#example-1',
        data: {
          items: [
            {message: 'Foo'},
            {message: 'Bar'}
          ]
        }
      });
      var example2 = new Vue({
        el: '#example-2',
        data: {
          parentMessage: 'Parent',
          items: [
            {message: 'Foo'},
            {message: 'Bar'}
          ]
        }
      });

      Vue.component('todo-item', {
        template: '<li>{{title}}<button @click="$emit(\'remove\')">X</button>',
        props: ['title']
      });

      var example3 = new Vue({
        el: '#todo-list-example',
        data: {
          newTodoText: '',
          todos: [
            'Do the dished',
            'Take out the trash',
            'Mow the lawn'
          ]
        },
        methods: {
          addNewTodo: function () {
            this.todos.push(this.newTodoText);
            this.newTodoText = '';
          }
        }
      });
    </script>
  </body>
</html>