<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Test</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <!--<script src="https://cdn.bootcss.com/velocity/1.4.1/velocity.min.js"></script>-->
    <!--<script src="https://cdn.bootcss.com/tween.js/r14/Tween.min.js"></script>-->
    <!--<script src="https://cdn.bootcss.com/tinycolor/1.4.1/tinycolor.min.js"></script>-->
    <script src="https://cdn.bootcss.com/vue/2.1.6/vue.js"></script>
    <style>

    </style>
  </head>
  <body>
    <div id="app">
      <input type="text" v-focus/>
    </div>

    <script>
      Vue.directive('focus', {
        inserted: function (el) {
          el.focus();
        }
      });

      new Vue({
        el: '#app'
      });

      var myMixin = {
        created: function () {
          this.hello();
        },
        methods: {
          hello: function () {
            console.log('Hello from mixin!');
          }
        }
      };
      var Component = Vue.extend({
        mixins: [myMixin]
      });
      var component = new Component();
    </script>
  </body>
</html>
